<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/">Домой</a>/<a href="/items">Список товаров</a>
<h2>Список товаров</h2>

    {% for item in items %}
        <a href="/item/{{ item.id }}" style="display: block; border: 3px solid black; width: 300px;	height: 100px;">
            <h3>{{ item.name }}</h3>
            описание: {{ item.description | default_if_none:"Описание не добавлено"}}
        </a>
    {% endfor %}

</body>
</html>