<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        li {
            display: inline-block;
            border: 2px solid blue;
            padding: 10px;
        }
    </style>
</head>
<body>
<a href="/">Домой</a>/<a href="/items">Список товаров</a>
<h2>Список товаров</h2>
<ol>
    {% for item in items %}
        <a href="/item/{{ item.id }}">
            <li>
                <div>{{ item.name }}</div>
                <div>описание: {{ item.description | default_if_none:"Описание не добавлено"}}</div>
            </li>
        </a>
    {% endfor %}
</ol>
</body>
</html>